
.idea/modules.xml
.idea/dictionaries/dsm2017.xml
.idea/misc.xml
.idea/MyoGAN.iml
.idea/vcs.xml
.idea/workspace.xml
src/dataset_2018_05_16/*
.idea/inspectionProfiles/Project_Default.xml
src/__pycache__/load_data.cpython-36.pyc
.idea/inspectionProfiles/Project_Default.xml
*.zip
